<p id="stateDescription"></p>
<p>
	<canvas id="mapCanvas" width="0" height="0"></canvas>
</p>
<p>
	<button type="button" class="btnStateChange" id="btnAddWalls" data-new-state="addWall">Add walls</button>
	<button type="button" class="btnStateChange" id="btnRemoveWalls" data-new-state="removeWall">Remove walls</button>
	<button type="button" class="btnStateChange" id="btnAddSymbol" data-new-state="addSymbol">Add symbols</button>
	<button type="button" class="btnStateChange" id="btnRemoveSymbol" data-new-state="removeSymbol">Remove symbols</button>
</p>
<p><textarea id="taJsonMap" class="json" name="term" id="term" cols="80" rows="40"></textarea>
	<button type="button" id="btnUpdate">Update screen</button>
</p>