<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>

<%- include menu.ejs %>

<span id="page">
	<div class="jumbotron">
		<div class="container jumbotrontitle">
			<h1>TABLETOP WITCH</h1>

			<p>A place for all your tabletop roleplaying resources, from monsters to campaign description to player
				items.</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-8">
				<h1>FEATURES</h1>

				<div class="row">
					<div class="col-sm-6">
						<div class="feature feature1">PATHFINDER OGL</div>
					</div>
					<div class="col-sm-6">
						<div class="feature feature2">ORBIS INSULARUM</div>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-sm-6"><div class="feature feature3">FEATURE 3</div></div>
					<div class="col-sm-6"><div class="feature feature4">FEATURE 4</div></div>
				</div>-->
				<div class="row">
					<div class="col-sm-12 col-md-8">
						<h1>NEWS</h1>

						<h3>Import OGL monsters Pathfinder</h3>
						<h6>4-6-2014 22:08</h6>

						<p>The monsters that are under the open gaming license of Pathfinder are imported!</p>

						<h3>Pathfinder monster editor</h3>
						<h6>4-6-2014 22:08</h6>

						<p>A pathfinder monster editor has been added.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-md-4">
				<h2>ABOUT</h2>

				<p>
					Ever had find yourself in a place where your players found a way to destroy everything you had
					prepared
					for the session. This is where Tabletop Witch is usefull. Every one can post his or her monsters,
					items
					and other stuff on the site, and it is all searchable right through with your phone/tablet. There is
					even an encounter builder. The phone/tablet can download monster information and keep record of all
					sorts of information, like HP, conditions and other stuff. Now we only support Pathfinder RPG, but
					we
					are working to support D&amp;D 4E and Shadowrun.
				</p>
			</div>
		</div>
	</div>
</span>

<%- include includejs.ejs %>

</body>
</html>