<!DOCTYPE html>
<html>
<%- include header.ejs %>
<body>

<%- include menu.ejs %>

<div class="container">
	<h2>LOGOUT</h2>
	<% if(message !== null) { %>
	<p class="bg-info"><%= message %></p>
	<% } else { %>
	<div>
		<form class="form-horizontal" role="form" action="/logout" method="post">
			<button class="btn btn-default" id="logout-btn">Logout</button>
		</form>
	</div>
	<% } %>
</div>

<%- include includejs.ejs %>

</body>
</html>